In [96]:
import pandas as pd

# Load the dataset
file_path = 'vgsales.csv'
df = pd.read_csv(file_path)

# Check the first 5 rows
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [97]:
# Check dataset information
df.info()

# Summary statistics
df.describe()

# Check for null values
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [98]:
# Null Value Treatment:
# Fill numeric columns with median, categorical with mode
for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = df[column].fillna(df[column].mode()[0])
    else:
        df[column] = df[column].fillna(df[column].median())

# Check again
df.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [99]:
import numpy as np
from scipy import stats

# Check for outliers in numeric columns
numeric_columns = df.select_dtypes(include=[np.number]).columns.tolist()

# Z-score method - Flag values beyond 3 standard deviations
z_scores = np.abs(stats.zscore(df[numeric_columns]))

# Find rows with outliers
outliers = (z_scores > 3).any(axis=1)
print(f"Number of outliers detected: {outliers.sum()}")

# Option 1 - Remove outliers
df = df[~outliers]

# Option 2 - Cap outliers to the 5th and 95th percentile (Winsorization)
# for column in numeric_columns:
#     lower = df[column].quantile(0.05)
#     upper = df[column].quantile(0.95)
#     df[column] = np.clip(df[column], lower, upper)

# Re-check distribution
df.describe()

Number of outliers detected: 631

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,15967.000000,15967.000000,15967.000000,15967.000000,15967.000000,15967.000000,15967.000000
mean,8575.318845,2006.742218,0.192074,0.101199,0.046155,0.032282,0.371989
std,4658.331334,5.183668,0.334017,0.201242,0.117114,0.063833,0.562081
min,204.000000,1990.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4569.500000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8606.000000,2007.000000,0.070000,0.020000,0.000000,0.010000,0.160000
75%,12603.500000,2010.000000,0.210000,0.100000,0.030000,0.030000,0.420000
max,16600.000000,2020.000000,2.710000,1.660000,1.000000,0.610000,5.020000

In [100]:
# Check categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()

# Apply Label Encoding or One-Hot Encoding if needed
df = pd.get_dummies(df, columns=categorical_columns, drop_first=True)

# Check new structure
df.head()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Name_.hack//G.U. Vol.1//Rebirth,Name_.hack//G.U. Vol.2//Reminisce,Name_.hack//G.U. Vol.2//Reminisce (jp sales),...,Publisher_Zushi Games,Publisher_bitComposer Games,Publisher_dramatic create,Publisher_fonfun,Publisher_iWin,Publisher_id Software,Publisher_imageepoch Inc.,Publisher_inXile Entertainment,"Publisher_mixi, Inc",Publisher_responDESIGN
203,204,2014.0,2.59,1.06,0.80,0.57,5.02,False,False,False,...,False,False,False,False,False,False,False,False,False,False
220,221,1999.0,2.57,1.57,0.44,0.21,4.79,False,False,False,...,False,False,False,False,False,False,False,False,False,False
232,233,2002.0,2.60,0.99,0.89,0.13,4.60,False,False,False,...,False,False,False,False,False,False,False,False,False,False
241,242,2002.0,2.71,1.51,0.03,0.23,4.48,False,False,False,...,False,False,False,False,False,False,False,False,False,False
245,246,2005.0,2.71,1.29,0.02,0.43,4.45,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [101]:
# Check final shape and data types
df.info()

# Save the cleaned dataset if needed
# df.to_csv('cleaned_vgsales.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 15967 entries, 203 to 16597
Columns: 11691 entries, Rank to Publisher_responDESIGN
dtypes: bool(11684), float64(6), int64(1)
memory usage: 178.9 MB